.react-calendar {
    width: 80%;
    background: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 1.7rem;
  }
    
  .react-calendar__month-view__days__day--neighboringMonth {
    visibility: hidden;
  }
    
  .react-calendar button {
    margin: 0;
    border: 0;
    outline: none;
  }
  
  .react-calendar button:enabled:hover {
    cursor: pointer;
  }
  
  .react-calendar__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem;
  }
  
  .react-calendar__navigation__label {
    pointer-events: none;
  }
  
  .react-calendar__navigation button {
    background: none;
    font-size: 1.25rem;
    margin-top: 0.5rem;
  }
  
  .react-calendar__navigation button:disabled {
    color: rgb(167, 163, 163);
  }
  
  .react-calendar__navigation button:enabled:hover {
    cursor: pointer;
  }
  
  .calendar-arrival .react-calendar__navigation button.react-calendar__navigation__next-button {
    display: none;
    opacity: 0;
  }
  
  .calendar-departure .react-calendar__navigation button.react-calendar__navigation__prev-button {
    display: none;
    opacity: 0;
  }
  
  .react-calendar__navigation__prev2-button {
    opacity: 0;
    display: none;
  }
  
  .react-calendar__navigation__next2-button {
    opacity: 0;
    display: none;
  }
  
  .react-calendar__month-view__weekdays {
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-size: 0.8rem;
    font-weight: bold;
    color: gray;
  }
  
  .react-calendar__month-view__weekdays__weekday {
    flex: 1;
    padding: 0.5em;
  }
  
  .react-calendar__month-view__days__day--neighboringMonth,
  .react-calendar__decade-view__years__year--neighboringDecade,
  .react-calendar__century-view__decades__decade--neighboringCentury {
    color: #757575;
  }
  
  .react-calendar__month-view__days {
    display: flex;
    flex-wrap: wrap;
  }
  
  .react-calendar__tile {
    height: 2.5rem;
    border-radius: 100%;
  }
  
  .react-calendar__tile:disabled {
    color: #ababab;
  }
  
  .react-calendar__month-view__days__day--neighboringMonth:disabled,
  .react-calendar__decade-view__years__year--neighboringDecade:disabled,
  .react-calendar__century-view__decades__decade--neighboringCentury:disabled {
    color: #cdcdcd;
  }
  
  .react-calendar__tile:enabled:hover,
  .react-calendar__tile:enabled:focus {
    border: 1px solid black;
    border-radius: 100%;
    background-color: black;
    color: white;
  }
  
  .react-calendar__tile--active {
    background: black;
    color: white;
  }
  
  .react-calendar__tile--range {
    background-color:rgba(233, 229, 229, 0.815);
    color:black;
    border-radius: 0%;
  }
  
  
  .react-calendar__tile--active:enabled:hover,
  .react-calendar__tile--active:enabled:focus {
    background: black;
    color: white;
  }
  
  .selected-date {
    background-color: black;
    color: white;
    border-radius: 100%;
  }
  
  
  
  
  
  
  
  